*{
    margin: 0;
    padding: 0;
}

body{
    font-family: sans-serif;
    background-image: url("images/wave.jpg");
}

/* Nav Bar Section */
 #nav_bar {
     position:sticky;
     top: 0;
     z-index: 10;
 }

 .navbar {
     background-image:linear-gradient(to right,#0d090e, #5f1782);
     padding: 0 !important ;
 }

.navbar-brand > h4 {
   
    font-family: 'Yeon Sung', cursive;
     color:rgb(247, 242, 242);
    padding-left: 20px;
    font-size: medium;
    font-weight: bold;
}
.navbar-brand > h4 i {
    color:rgb(216, 202, 202);
    font-size:large;
}

.navbar-nav li {
    padding: 0 10px;    
}

.navbar-nav li a {
   color: rgb(241, 236, 236) ! important; 
   font-weight: 600;
   float:right;
   text-align: left;
}

.fa-bars {
    color:#FFF;
    font-size: 30px !important;
}
.navbar-toggler{
    outline: none !important;
}


/* banner section */


#banner {
   color:rgb(51, 47, 47);
   padding-top:5%;
   background-image: url('images/banner-bg.jpg');
   background-repeat: no-repeat;
   background-size: cover;
   background-position: top center;

   

}

.title-banner{
    font-size: 40px;
    font-weight:600;
    margin-top:100px;
}

.play {
    width:45px;
    margin:20px;
   

}
#banner a {
    color:blueviolet;
    text-decoration: none;
    z-index: -1;
    

}
.img-fluid{
    width:70%;
    border-radius: 100%;
    padding-bottom: 3%;
    z-index: 2;
}

    


/* section service */



#services{
    padding: 80px 0;
    background-image: url('images/service-bg.jpg');
   background-repeat: no-repeat;
   background-size: cover;
   background-position: top center;
}

.service-img{
    width:100px;
    margin:20px;
}

.service {
    padding:20px;
}
#services h4 {
    padding: 5px;
    margin-top: 25px;
    text-transform: uppercase;
    color: red;
}

.title::after {
    content: '';
    background-color:#3a0555;
    height:5px;
    width: 200px;
    margin-left:auto;
    margin-right: auto;
    margin-bottom: 10px;
    display: block;
    transform: translateY(6px);

}
.title{
    margin-bottom: 40px;
}
#services  .btn-primary{
    box-shadow: none;
    padding:8px 25px;
    border: none;
    border-radius: 20px;
    background-image:linear-gradient(to right,#0d090e, #5f1782);

}