@import url('https://fonts.googleapis.com/css2?family=Indie+Flower&display=swap');
*{
    margin: 0;
    padding: 0;
}

body{
    font-family: sans-serif;
    background-image: url("images/wave.jpg");
}
.font-fix , .title-banner{
    font-family: 'East Sea Dokdo', cursive;
    color:red !important;
}

/* Nav Bar Section */
 #nav_bar {
     position:sticky;
     top: 0;
     z-index: 10;
 }

 .navbar {
     background-image:linear-gradient(to right,#0d090e, #5f1782);
     padding: 0 !important ;
 }

.navbar-brand > h4 {
   
    font-family: 'Yeon Sung', cursive;
     color:rgb(247, 242, 242);
    padding-left: 20px;
    font-size: medium;
    font-weight: bold;
}
.navbar-brand > h4 i {
    color:rgb(216, 202, 202);
    font-size:large;
}

.navbar-nav li {
    padding: 0 10px;    
}

.navbar-nav li a {
   color: rgb(241, 236, 236) ! important; 
   font-weight: 600;
   float:right;
   text-align: left;
}

.fa-bars {
    color:#FFF;
    font-size: 30px !important;
}
.navbar-toggler{
    outline: none !important;
}


/* banner section */


#banner {
   color:rgb(51, 47, 47);
   padding-top:5%;
    height: 80vh;
    background-image:linear-gradient(to right,#0d090e, #5f1782);
   background-repeat: no-repeat;
   object-fit: cover;
   background-position: center right; 

   

}

.title-banner{
    font-size: 30px;
    font-weight:800;
    margin-top:100px;
    z-index: 2;
    color:red;
}
#banner p{
    color:#fff;
}
   

#banner a {
    color:blueviolet;
    text-decoration: none;
    opacity:13;

}
.img-fluid{
    width:60%;
    border-radius: 30px;
    padding-top: 50px;;
    z-index: 2;
}

/* section service */



#services{
    padding: 80px 0;
   
}

.service-img{
    width:80px;
    padding-top:80px;
    
}

.service {
    padding:100px;
}

li {
list-style-type: none;
}
#services h4 {
    padding: 15px;
    margin-top: 25px;
    text-transform: uppercase;
    color: rgb(80, 7, 7);
    z-index: 4;
}

.title::after {
    content: '';
    background-color:#3a0555;
    height:5px;
    width: 150px;
    margin-left:auto;
    margin-right: auto;
    margin-bottom: 20px !important;
    display: block;
    transform: translateY(3px);

}
.title{
    margin-bottom: 40px;
}
#services  .btn-primary{
    box-shadow: none;
    margin-top: 50px;
    padding:8px 25px;
    border: none;
    border-radius: 20px;
    background-image:linear-gradient(to right,#0d090e, #5f1782);

}



/* About us section */

#about-us {
    background-color:rgb(250, 250, 250);
    padding-bottom: 50px;
    padding-top: 50px;
    
}
#about-us img {
width:60%;
margin-top: 8%;
}
.about-title{

    font-size: 40px;
    font-weight: 600;
    margin-top: 8%;
}

#about-us ul li {
    margin: 10px 0;
    font-family: 'Indie Flower', cursive;
    font-size: 25px;
    color:#e26394


    
}

#about-us ul  {
    margin-left: 20%;
    

}

/* testimonials section */

#Testimonials {

    margin:100px 0
}

.testimonials img {
    width:80px;
    height:80px;
    border-radius: 50%;
    margin:0 10px

}
.testimonials{
    border-left: 4px solid #7b1897;
    margin-top: 50px;
    margin-bottom: 50px;
}
.user-details{
    display: inline-block;
    font-size: 12px ;
    padding-left: 25px;
    padding-top: 15px;
    
}


/* social media section */

#social-media{
    background-color: rgb(255, 255, 255);
    padding:100px 0;
}
#social-media p {
    font-size: 36px;
    font-weight: 600;
    margin-bottom: 30px;
}

.social-icons img {
    width:60px;
    transition: 0.5s;
}
.social-icons a:hover img {
      transform: translateY(-10px);
}


       /* footer section */
 #footer {
    background-image:linear-gradient(to right,#0d090e, #5f1782);
    color:#fff;
   }    

   
   .footer-box{
       padding: 20px;
   }
   .par-fix{
       margin-top: 30px;
   }
   
   .footer-box .fas{
       margin-right: 8px;
       font-size: 25px;
       height:40px;
       width:40px;
       text-align: center;
       padding-top: 7px;
       border-radius: 20px;
        background-image:linear-gradient(to right,#0d090e, #5f1782);

   }

      .form-control{
       box-shadow: none !important;
       border:none;
       margin-top:25px ;
       border-radius: 0;
       max-width: 250px;
   }

    .btn-primary{
       box-shadow: none !important;
       border:none;
       border-radius:0;
       margin-top: 30px !important; 
       background-image:linear-gradient(to right,#0d090e, #5f1782);

    }
    .btn-primary{

    }
    hr{
        background-color:white
    }
    .copyright{
      margin-bottom: 0;
      padding-bottom: 20px;
      text-align: center;  
    }


    /* Media query */
    
@media only screen and (max-width: 800px) {
  .img-fluid {
    width:130px;
    padding-bottom: 60px;
    z-index: 2;
    
  }
  .title-banner{
      font-size: 30px !important;
    font-weight:800 !important;
   margin-top:30px;
  }
  .title-banner2{
    font-size: 15px !important;
    font-weight:700 !important;
    margin-top:50px;  }
  

  #banner{
    height:70vh;  
    text-align: center;
  }
  

  .testimonials{
       border-left: 4px solid #7b1897;
       margin-left:80px;

    
}
}